body {
  background-image: url("../images/pexels-monstera-production-7794399.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: arial;
  margin: 45px;
}

.container {
  background-color: #f7f7f29a;
  border-radius: 8px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin: 15px auto;
  max-width: 600px;
  padding: 30px 10px;
}

h1 {
  color: #9e1946;
  font-family: segoe script;
  font-size: 36px;
  font-weight: 800;
  line-height: 1.5;
  text-align: center;
}

form {
  margin: 15px;
  text-align: center;
}

#topic {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  font-size: 16px;
  padding: 5px;
  margin: 0px 3px 0px 0px;
  width: 70%;
}

#submit-button {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  font-size: 16px;
  padding: 5px;
  margin: 0px 0px 0px 3px;
  width: 15%;
}

#submit-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

#poem {
  border-left: #9e1946 solid 3px;
  color: #450a41;
  display: block;
  font-family: "IM Fell DW Pica", serif;
  font-size: 18px;
  margin: 45px 75px;
  padding: 0px 18px;
  line-height: 1.6;
}

footer {
  color: #d7fdec;
  font-size: 14px;
  margin: 20px;
  text-align: center;
}

a {
  color: #e2b6cf;
}

a:hover {
  color: #2eef2a;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
}
